.social__container {
    display: flex;
    width: 38%;
    padding: 0;

    justify-content: space-around;
    list-style: none;
}

.social__container li {
    font-size: 1.5rem;

    display: flex;
    align-items: center;

    color: #666;
}

.social__container li a {
    text-decoration: none;
    color: inherit;
}

.social__container li a:visited {
    text-decoration: inherit;
    color: inherit;
}

.social__container li:hover {
    transition: all 1s ease-in-out;
    cursor: pointer;
    color: rgb(47, 47, 47);
}